{% extends 'base.html.twig' %}

{% block title %} Enochian | Profile {% endblock %}

{% block body %}
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            {% if userProfile is empty %}
                                <img src="{{asset('images/avatar.jpg')}}" alt="Avatar" class="rounded-circle" width="180">
                            {% else %}
                                <img src="{{ asset('uploads/') ~ userProfile.image }}" alt="Avatar" class="rounded-circle" width="180"/>
                            {% endif %}
                            <div class="mt-3">
                                <h4>{{ app.user.username }}</h4>
                                <p class="text-secondary mb-1">Full Stack Developer</p>
                                <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                                <a href="{{ path('personal_cabala') }}" class="btn btn-outline-primary">Ver Cabala Pessoal</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if userProfile is empty %}
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        {{ form_start(form_profile) }}
                            <div class="alert alert-error">
                                {{ form_errors(form_profile) }}
                            </div>
                            <div class="mb-3">
                                {{ form_widget(form_profile) }}
                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-outline-primary">Enviar</button>
                            </div>
                        {{ form_end(form_profile) }}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Nome Completo</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ userProfile.name }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ app.user.email }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                (239) 816-9029
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Contato</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                (320) 380-4539
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Endereço</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Bay Area, San Francisco, CA
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <a href="{{ path('update', {id: userProfile.id }) }}" class="btn btn-outline-primary">Editar</a>
                </div>
            </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
