{% extends 'base.html.twig' %}

{% block title %}Enochian | Log in!{% endblock %}

{% block body %}
    <div class="bg-img"></div>
    <div class="login-container justify-content-center">
        <form id="form" method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <div class="mb-3">
                <label for="inputEmail">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                <div id="emailHelp" class="form-text">Nós nunca compartilhamos seu email.</div>
            </div>
            <div class="mb-3">
                <label for="inputPassword">Senha</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Lembre-me</label>
            </div>
            <button type="submit" class="btn btn-outline-primary btn-sm">Entrar</button>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
            #}
        </form>
    </div>
{% endblock %}
