{% extends 'base.html.twig' %}

{% block title %}Enochian | Arcanos Maiores{% endblock %}

{% block body %}
    <div class="main-title">
        <h1 class="arcanos-maiores">Arcanos Maiores</h1>
    </div>
<div class="card-container">
    <div class="card-items justify-content-center wrap">
        <div class="card">
            <div class="card-header">
                El Mago
            </div>
            <img src="{{ asset('images/mago.jpg') }}" class="card-img-top" alt="O Mago">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example.</p>
                <a href="#" class="btn btn-primary">Ver Descrição</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                El Mago
            </div>
            <img src="{{ asset('images/mago.jpg') }}" class="card-img-top" alt="O Mago">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example.</p>
                <a href="#" class="btn btn-primary">Ver Descrição</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                El Mago
            </div>
            <img src="{{ asset('images/mago.jpg') }}" class="card-img-top" alt="O Mago">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example.</p>
                <a href="#" class="btn btn-primary">Ver Descrição</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                El Mago
            </div>
            <img src="{{ asset('images/mago.jpg') }}" class="card-img-top" alt="O Mago">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example.</p>
                <a href="#" class="btn btn-primary">Ver Descrição</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                El Mago
            </div>
            <img src="{{ asset('images/mago.jpg') }}" class="card-img-top" alt="O Mago">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example.</p>
                <a href="#" class="btn btn-primary">Ver Descrição</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
