{% extends 'base.html.twig' %}

{% block title %} Cabala | Personal {% endblock %}

{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Cabala do Ano de Nascimento
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% if cabala.birthCabala is defined and cabala.birthCabala is not null %}
                            <div class="card">
                                <p style="text-align: center">A soma parcial, apesar de não representar o resultado final, também deverá ser analisada como o panorâma para aquele ano.<small></small></p>
                            </div>
                            {% for value in cabala.birthCabala %}
                            <main id="home" class="contents">
                                <div class="container">
                                    <h3 class="page-title text-center">Timeline</h3>
                                    <ul class="timeline">
                                        <li class="timeline-line"></li>
                                        <li class="timeline-group">
                                            <a href="#" class="btn btn-primary"><i class="fa fa-calendar"></i> {{ value['sumYear'] }}</a>
                                        </li>
                                    </ul>
                                    <ul class="timeline panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <li class="timeline-line"></li>
                                        {% if value['partial'] != null and value['partial'] != value['synthesis']%}
                                        <li class="timeline-item">
                                            <div class="timeline-badge"><a href="#"></a></div>
                                            <div class="timeline-panel">
                                                <div class="panel">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" style="text-decoration: none;">
                                                                <div class="timeline-heading">Resultado Parcial</div> <span class="expand-icon-wrap" aria-expanded="false" aria-controls="collapseFive"></span>
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel">
                                                        <div class="panel-body">
                                                            <div class="timeline-content">
                                                                <ul id="block-list-left">
                                                                    <li><code>Ano:</code><strong> {{ value['sumYear'] }} </strong> <i>Ano que marca um acontecimento importante para sua vida</i></li>
                                                                    <li><code>Parcial</code><strong> {{ value['partial'] }} </strong><i> Resultado Parcial </i></li>
                                                                    <li><code>Descrição</code><strong> {{ value['majorArcaneName'] }} </strong><i> Carta do Tarot</i></li>
                                                                    <li><code>Arcano</code> <a href="{{ path('arcane', {id: value['partial']} ) }}">Resultado Parcial</a></li>
                                                                </ul>
                                                                <div class="custom-container">
                                                                    <div class="card-items justify-content-center wrap">
                                                                        <div class="card" style="width: 8rem">
                                                                            <img src="{{ value['majorArcaneImage'] }}" class="card-img-bottom hover-zoom">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        {% else %}
                                            <li class="timeline-item">
                                                <div class="alert alert-warning" role="alert" style="border-radius: 12px">
                                                    Considere o seu resultado final como a síntese absoluta para este ano.
                                                </div>
                                            </li>
                                        {% endif %}
                                        {% if value['synthesis'] != value['partial']%}
                                        <li class="timeline-item">
                                            <div class="timeline-badge"><a href="#"></a></div>
                                            <div class="timeline-panel">
                                                <div class="panel">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" style="text-decoration: none;">
                                                                <div class="timeline-heading">Resultado Final</div> <span class="expand-icon-wrap" aria-expanded="false" aria-controls="collapseFive"></span>
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel">
                                                        <div class="panel-body">
                                                            <div class="timeline-content">
                                                                <ul id="block-list-left">
                                                                    <li><code>Ano:</code> <strong> {{ value['sumYear'] }} </strong> <i>Ano que marca um acontecimento importante para sua vida</i></li>
                                                                    <li><code>Síntese</code> <strong> {{ value['synthesis'] }} </strong><i>Resultado Final</i></li>
                                                                    <li><code>Descrição</code><strong> {{ value['minorArcaneName'] }} </strong><i> Carta do Tarot</i></li>
                                                                    <li><code>Arcano</code> <a href="{{ path('arcane', {id: value['synthesis']} ) }}">Analisar Arcano</a></li>
                                                                </ul>
                                                                <div class="custom-container">
                                                                    <div class="card-items justify-content-center wrap">
                                                                        <div class="card" style="width: 8rem">
                                                                            <img src="{{ value['minorArcaneImage'] }}" class="card-img-bottom hover-zoom">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                           </div>
                                        </li>
                                        {% else %}
                                        <li class="timeline-item">
                                            <div class="alert alert-warning" role="alert" style="border-radius: 12px">
                                                Considere o seu resultado parcial como a síntese absoluta para este ano.
                                            </div>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </main>
                            {% endfor %}
                            {% if cabala.birthCabala is not null %}
                                <div style="padding-top: 20px">
                                    <a href="{{ path('edit_birth_cabala', {id: cabala.id}) }}" type="button" class="btn btn-primary" style="align-content: center"><i class="bi bi-pencil"></i></a>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="alert alert-danger" role="alert" style="text-align: center">
                                <p>Não foram encontrádos cálculos da <strong>Cabala do Ano de Nascimento</strong> para o usuário atual</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Urgência Interior
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% if cabala.innerUrgency is defined and cabala.innerUrgency is not null %}
                            <div class="card">
                                <p style="text-align: center">A Urgência Interior é a soma cabalistica que determina um dos aspectos mais importantes que a pessoa precisará trabalhar, desenvolver, conhecer, aprimorar em vida, com o objetivo de alcançar o seu maior potencial e expressão de valores e dons.<small></small></p>
                            </div>
                            <div class="block-list">
                                <ul id="block-list-center">
                                    <li><code>Descrição</code><strong> {{ cabala.innerUrgency['name'] }} </strong><i> Carta do Tarot</i></li>
                                    <li><code>Síntese</code><strong> {{ cabala.innerUrgency['synthesis'] }} </strong><i> Síntese cabalística</i></li>
                                    <li><code>Arcano</code> <a href="{{ path('arcane', {id: cabala.innerUrgency['synthesis']} ) }}">Analisar Arcano</a></li>
                                </ul>
                            </div>
                                <div class="card" style="width: 8rem; margin:0 auto">
                                    <img src="{{ cabala.innerUrgency['image'] }}" class="card-img-bottom hover-zoom">
                                </div>
                        {% endif %}
                        {% if cabala.innerUrgency is defined and cabala.innerUrgency is not null %}
                            <div style="padding-top: 20px">
                                <a href="{{ path('edit_birth_cabala', {id: cabala.innerUrgency['synthesis']}) }}" type="button" class="btn btn-primary" style="align-content: center"><i class="bi bi-pencil"></i></a>
                            </div>
                        {% else %}
                            <div class="alert alert-danger" role="alert" style="text-align: center">
                                <p>Não foram encontrádos cálculos da <strong>Urgência Interior</strong> para o usuário atual</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Tônica Fundamental
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% if cabala.fundamentalTonic is defined and cabala.fundamentalTonic is not null %}
                            <div class="card">
                                <p style="text-align: center">A Tônica Fundamental é a soma cabalística que representará o ritmo, a forma, o meio pelo qual, quando bem desenvolvido, pode levar a pessoa a alcançar a sua Urgência Interior.<small></small></p>
                            </div>
                            <div class="block-list">
                                <ul id="block-list-center">
                                    <li><code>Descrição</code><strong> {{ cabala.fundamentalTonic['name'] }} </strong><i> Carta do Tarot</i></li>
                                    <li><code>Síntese</code><strong> {{ cabala.fundamentalTonic['synthesis'] }} </strong><i> Síntese cabalística</i></li>
                                    <li><code>Arcano</code> <a href="{{ path('arcane', {id: cabala.fundamentalTonic['synthesis']} ) }}">Analisar Arcano</a></li>
                                </ul>
                            </div>
                            <div class="card" style="width: 8rem; margin:0 auto">
                                <img src="{{ cabala.fundamentalTonic['image'] }}" class="card-img-bottom hover-zoom">
                            </div>
                            {% if cabala.fundamentalTonic is not null %}
                                <div style="padding-top: 20px">
                                    <a href="{{ path('edit_birth_cabala', {id: cabala.fundamentalTonic['synthesis']}) }}" type="button" class="btn btn-primary" style="align-content: center"><i class="bi bi-pencil"></i></a>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="alert alert-danger" role="alert" style="text-align: center">
                                <p>Não foram encontrádos cálculos da <strong>Tônica Fundamental</strong> para o usuário atual</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Tônica do Dia
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% if cabala.tonicDay is defined and cabala.tonicDay is not null %}
                            <div class="card">
                                <p style="text-align: center">A Tônica do Dia representa a soma cabalística que permite determinar o panorama de como será o dia consultado, para que assim o consultante possa preparar-se e saber a forma com a qual deverá atuar naquele dia para obter êxito.<small></small></p>
                            </div>
                            <div class="block-list">
                                <ul id="block-list-center">
                                    <li><code>Descrição</code><strong> {{ cabala.tonicDay['name'] }} </strong><i> Carta do Tarot</i></li>
                                    <li><code>Síntese</code><strong> {{ cabala.tonicDay['synthesis'] }} </strong><i> Síntese cabalística</i></li>
                                    <li><code>Arcano</code> <a href="{{ path('arcane', {id: cabala.tonicDay['synthesis']} ) }}">Analisar Arcano</a></li>
                                </ul>
                            </div>
                            <div class="card" style="width: 8rem; margin:0 auto">
                                <img src="{{ cabala.tonicDay['image'] }}" class="card-img-bottom hover-zoom">
                            </div>
                            {% if cabala.fundamentalTonic is not null %}
                                <div style="padding-top: 20px">
                                    <a href="{{ path('edit_birth_cabala', {id: cabala.tonicDay['synthesis']}) }}" type="button" class="btn btn-primary" style="align-content: center"><i class="bi bi-pencil"></i></a>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="alert alert-danger" role="alert" style="text-align: center">
                                <p>Não foram encontrádos cálculos da <strong>Tônica do Dia</strong> para o usuário atual</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Acontecimento do Dia
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% if cabala.eventDay is defined and cabala.eventDay is not null %}
                            <div class="card">
                                <p style="text-align: center">O Acontecimento do Dia representa a soma cabalística que indica o panorama de como será algum acontecimento em Hora determinada pelo consultante. Nesse cálculo é possível analisar o panorama geral de um dia, analisar também o panorama e as características de uma Hora exata daquele mesmo dia.<small></small></p>
                            </div>
                            <main id="home" class="contents">
                                <div class="container">
                                    <h3 class="page-title text-center">Acontecimento do Dia</h3>
                                    <ul class="timeline">
                                        <li class="timeline-line"></li>
                                        <li class="timeline-group">
                                            <a href="#" class="btn btn-primary"><i class="fa fa-calendar"></i> {{ cabala.eventDay.day ~ "/" ~ cabala.eventDay.month ~ "/" ~ cabala.eventDay.year }}</a>
                                        </li>
                                    </ul>
                                    <ul class="timeline panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <li class="timeline-line"></li>
                                        {% if cabala.eventDay.partial['partial'] != null and cabala.eventDay.partial['partial'] != cabala.eventDay.synthesis['tonicDay']%}
                                            <li class="timeline-item">
                                                <div class="timeline-badge"><a href="#"></a></div>
                                                <div class="timeline-panel">
                                                    <div class="panel">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" style="text-decoration: none;">
                                                                    <div class="timeline-heading">Resultado Parcial</div> <span class="expand-icon-wrap" aria-expanded="false" aria-controls="collapseFive"></span>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel">
                                                            <div class="panel-body">
                                                                <div class="timeline-content">
                                                                    <ul id="block-list-left">
                                                                        <li><code>Data:</code><strong> {{ cabala.eventDay.day ~ "/" ~ cabala.eventDay.month ~ "/" ~ cabala.eventDay.year }} </strong> <i>Data selecionada para analise do acontecimento do dia</i></li>
                                                                        <li><code>Parcial</code><strong> {{ cabala.eventDay.partial['partial'] }} </strong><i> Resultado Parcial </i></li>
                                                                        <li><code>Descrição</code><strong> {{ cabala.eventDay.partial['name'] }} </strong><i> Carta do Tarot</i></li>
                                                                        <li><code>Arcano</code> <a href="{{ path('arcane', {id: cabala.eventDay.partial['partial']} ) }}">Resultado Parcial</a></li>
                                                                        A Urgência Interior é a soma cabalistica que determina um dos aspectos mais importantes que a pessoa               </ul>
                                                                    <div class="custom-container">
                                                                        <div class="card-items justify-content-center wrap">
                                                                            <div class="card" style="width: 8rem">
                                                                                <img src="{{ cabala.eventDay.partial['image'] }}" class="card-img-bottom hover-zoom">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% else %}
                                            <li class="timeline-item">
                                                <div class="alert alert-warning" role="alert" style="border-radius: 12px">
                                                    Considere o seu resultado final como a síntese absoluta para este ano.
                                                </div>
                                            </li>
                                        {% endif %}
                                        {% if cabala.eventDay.synthesis['tonicDay'] != cabala.eventDay.partial['partial']%}
                                            <li class="timeline-item">
                                                <div class="timeline-badge"><a href="#"></a></div>
                                                <div class="timeline-panel">
                                                    <div class="panel">
                                                        <div class="panel-heading">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" style="text-decoration: none;">
                                                                    <div class="timeline-heading">Resultado Final</div> <span class="expand-icon-wrap" aria-expanded="false" aria-controls="collapseFive"></span>
                                                                </a>
                                                            </h4>
                                                        </div>
                                                        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel">
                                                            <div class="panel-body">
                                                                <div class="timeline-content">
                                                                    <ul id="block-list-left">
                                                                        <li><code>Data:</code> <strong> {{ cabala.eventDay.day ~ "/" ~ cabala.eventDay.month ~ "/" ~ cabala.eventDay.year }} </strong> <i>Data selecionada para analise do acontecimento do dia</i></li>
                                                                        <li><code>Síntese</code> <strong> {{ cabala.eventDay.synthesis['tonicDay'] }} </strong><i>Resultado Final</i></li>
                                                                        <li><code>Descrição</code><strong> {{ cabala.eventDay.synthesis['name'] }} </strong><i> Carta do Tarot</i></li>
                                                                        <li><code>Arcano</code> <a href="{{ path('arcane', {id: cabala.eventDay.synthesis['tonicDay']} ) }}">Analisar Arcano</a></li>
                                                                    </ul>
                                                                    <div class="custom-container">
                                                                        <div class="card-items justify-content-center wrap">
                                                                            <div class="card" style="width: 8rem">
                                                                                <img src="{{ cabala.eventDay.synthesis['image'] }}" class="card-img-bottom hover-zoom">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        {% else %}
                                            <li class="timeline-item">
                                                <div class="alert alert-warning" role="alert" style="border-radius: 12px">
                                                    Considere o seu resultado parcial como a síntese absoluta para este ano.
                                                </div>
                                            </li>
                                        {% endif %}
                                        <li class="timeline-item">
                                            <div class="timeline-badge"><a href="#"></a></div>
                                            <div class="timeline-panel">
                                                <div class="panel">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" style="text-decoration: none;">
                                                                <div class="timeline-heading">O Acontecimento do Dia</div> <span class="expand-icon-wrap" aria-expanded="false" aria-controls="collapseFive"></span>
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel">
                                                        <div class="panel-body">
                                                            <div class="timeline-content">
                                                                <ul id="block-list-left">
                                                                    <li><code>Data:</code><strong> {{ cabala.eventDay.day ~ "/" ~ cabala.eventDay.month ~ "/" ~ cabala.eventDay.year }} </strong> <i>Data selecionada para analise do acontecimento do dia.</i></li>
                                                                    <li><code>Hora:</code><strong> {{ cabala.eventDay.hours }} </strong> <i>Hora selecionada pelo consultante.</i></li>
                                                                    <li><code>Acontecimento do dia</code><strong> {{ cabala.eventDay.eventDay['eventDay'] }} </strong><i> Arcano para o acontecimento do dia onde às {{ cabala.eventDay.hours }}h é a hora mais importante.</i></li>
                                                                    <li><code>Descrição</code><strong> {{ cabala.eventDay.eventDay['name'] }} </strong><i> Carta do Tarot</i></li>
                                                                    <li><code>Arcano</code> <a href="{{ path('arcane', {id: cabala.eventDay.eventDay['eventDay']} ) }}">Resultado Parcial</a></li>
                                                                </ul>
                                                                <div class="custom-container">
                                                                    <div class="card-items justify-content-center wrap">
                                                                        <div class="card" style="width: 8rem">
                                                                            <img src="{{ cabala.eventDay.eventDay['image'] }}" class="card-img-bottom hover-zoom">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </main>
                            {% if cabala.eventDay is not null %}
                                <div style="padding-top: 20px">
                                    <a href="{{ path('edit_birth_cabala', {id: cabala.id}) }}" type="button" class="btn btn-primary" style="align-content: center"><i class="bi bi-pencil"></i></a>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="alert alert-danger" role="alert" style="text-align: center">
                                <p>Não foram encontrádos cálculos do <strong>Evento do Dia</strong> para o usuário atual</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
