{% extends 'base.html.twig' %}

{% block title %} Cabala | Personal {% endblock %}

{% block body %}
    <div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Cabala do Ano de Nascimento
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        {% if cabala is not empty %}
                            <div class="card">
                                <p style="text-align: center">A soma parcial, apesar de não representar o resultado final, também deverá ser analisada como o panorâma para aquele ano.<small></small></p>
                                <p><strong>Por exemplo:</strong> <br> Se um ano importante para a pessoa for <code>2027</code>, a soma dará <code>11</code>, que é sintetizada em <code>1</code> + <code>1</code> resultando na soma final <code>2</code>, que é a cabala para este ano. Porém, o consultante também deverá analisar o Arcano <code>11</code>, pois contribui na análise da cabala daquele ano.</p>
                            </div>
                            {% for value in cabala.birthCabala %}
                            <main id="home" class="contents">
                                <div class="container">
                                    <h3 class="page-title text-center">Timeline</h3>
                                    <ul class="timeline">
                                        <li class="timeline-line"></li>
                                        <li class="timeline-group">
                                            <a href="#" class="btn btn-primary"><i class="fa fa-calendar"></i> {{ value[0] }}</a>
                                        </li>
                                    </ul>

                                    <ul class="timeline panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <li class="timeline-line"></li>

                                        <li class="timeline-item">
                                            <div class="timeline-badge"><a href="#"></a></div>
                                            <div class="timeline-panel">
                                                <div class="panel">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" style="text-decoration: none;">
                                                                <div class="timeline-heading">Resultado Parcial</div> <span class="expand-icon-wrap" aria-expanded="false" aria-controls="collapseFive"></span>
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel">
                                                        <div class="panel-body">
                                                            <div class="timeline-content">
                                                                <ul>
                                                                    <li><code>Ano:</code><strong> {{ value[0] }} </strong> <i>Ano que marca um acontecimento importante para sua vida</i></li>
                                                                    <li><code>Síntese</code><strong> {{ value[1] }} </strong><i> Síntese cabalística</i></li>
                                                                    <li><code>Arcano</code> <a href="{{ path('arcane', {id: value[1]} ) }}">Resultado Parcial</a></li>
                                                                </ul>
                                                                <div class="custom-container">
                                                                    <div class="card-items justify-content-center wrap">
                                                                        {% for arcane in arcanes %}
                                                                            {% if arcane.id == value[1]  %}
                                                                                <div class="card" style="width: 8rem">
                                                                                    <img src="{{ arcane.image }}" class="card-img-bottom hover-zoom" alt="{{ arcane.name }}">
                                                                                </div>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                                <div class="timeline-embed">
                                                                    <iframe width="478" height="320" src="https://www.youtube.com/embed/qxlahRGEhp0" frameborder="0" allowfullscreen></iframe>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        {% if value[2] is not null %}
                                        <li class="timeline-item">
                                            <div class="timeline-badge"><a href="#"></a></div>
                                            <div class="timeline-panel">
                                                <div class="panel">
                                                    <div class="panel-heading">
                                                        <h4 class="panel-title">
                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" style="text-decoration: none;">
                                                                <div class="timeline-heading">Resultado Final</div> <span class="expand-icon-wrap" aria-expanded="false" aria-controls="collapseFive"></span>
                                                            </a>
                                                        </h4>
                                                    </div>
                                                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel">
                                                        <div class="panel-body">
                                                            <div class="timeline-content">
                                                                <ul>
                                                                    <li><code>Ano:</code> <strong> {{ value[0] }} </strong> <i>Ano que marca um acontecimento importante para sua vida</i></li>
                                                                    <li><code>Síntese</code> <strong> {{ value[2] }} </strong><i>Resultado Final</i></li>
                                                                    <li><code>Arcano</code> <a href="{{ path('arcane', {id: value[2]} ) }}">Resultado Final</a></li>
                                                                </ul>
                                                                <div class="custom-container">
                                                                    <div class="card-items justify-content-center wrap">
                                                                        {% for arcane in arcanes %}
                                                                            {% if arcane.id == value[2] %}
                                                                                <div class="card" style="width: 8rem">
                                                                                    <img src="{{ arcane.image }}" class="card-img-bottom hover-zoom" alt="{{ arcane.name }}">
                                                                                </div>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                                </div>
                                                                <div class="timeline-embed">
                                                                    <iframe width="478" height="320" src="https://www.youtube.com/embed/qxlahRGEhp0" frameborder="0" allowfullscreen></iframe>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                           </div>
                                        </li>
                                        {% else %}
                                        <li class="timeline-item">
                                            <div class="alert alert-warning" role="alert" style="border-radius: 12px">
                                                Considere o seu resultado parcial como a síntese absoluta para este ano.
                                            </div>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </main>
                            {% endfor %}
                        {% else %}
                            <div class="alert alert-danger" role="alert" style="text-align: center">
                                <p>Não foram encontrádos cálculos da Cabala do Ano de Nascimento para o usuário {{ app.user.username }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Urgência Interior
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Tônica Fundamental
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Tônica do Dia
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Evento do Dia
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
