{% extends 'base.html.twig' %}

{% block title %}Enochian | Register{% endblock %}
{% block body %}
<div class="custom-container container">
    <div class="container" style="width: 500px; padding-top: 50px">
        {{ form_start(form) }}
        <div class="mb-3">
            {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.password.first, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_row(form.password.second, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-outline-primary">Enviar</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}