{% extends 'base.html.twig' %}

{% block title %}Enochian | Arcanos Maiores{% endblock %}

{% block body %}
    <div class="main-title">
        <h1 class="arcanos-maiores">Arcanos Maiores</h1>
    </div>
    <div class="card-container">
        <div class="card-items justify-content-center wrap">
            <div class="card">
                {% for arcane in arcanes %}
                <div class="card-header">
                    {{ arcane.name }}
                </div>
                <img src="/images/{{ arcane.image }}" class="card-img-top" alt="{{ arcane.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ arcane.name }}</h5>
                    <p class="card-text">{{ arcane.description }}</p>
                    <a href="#" class="btn btn-primary">Descrição Completa</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
